header {
  background-color: #3575D3;
  text-align: center;
  position: relative;
  padding: 30px;
}
header h1 {
  margin: 0px;
  color: #ffffff;
  font-family: "Arial";
  font-size: 4em;
}

header img {
  position: absolute;
  width: 100px;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1050px) {
  header img {
    position: absolute;
    width: 80px;
    left: 10px;
  }
}

@media only screen and (max-width: 650px) {
  header img {
    display: none;
  }
}



@media only screen and (max-width: 500px) {
  header h1 {
    font-size: 2em;
  }
  header p {
    font-size: 1em;
  }
}

header p {
  color: #aaa;
  margin: 0px;
  font-size: 1.25em;
  padding: 10px;
   font-family: "Open Sans", sans-serif;
}

.content-container {
  margin: 0 auto;
  width: 70%;

}

@media only screen and (max-width: 1200px) {
  .content-container {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .content-container {
    width: 100%;
  }
}



nav ul {
  margin: 0;
  padding: 3px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
}
nav {
  background-color: #033e53;
}
@media only screen and (max-width: 1000px) {
  nav ul {
    flex-direction: column;
  }
}

nav ul li {
  margin: 0;
  padding: 10px;
  flex: 1;
  text-align: center;
}

nav ul li:first-child {
  display: none;
}
nav a {
  color: #033e53;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
h3 {
  font-family: "Open Sans", sans-serif;
color: white;
}

.close-menu {
  float: none;
}

.show-menu {
  display: block;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}



main {
  background-color: #cacaca;
  padding: 20px 0px;
  width: 60%;
  margin: auto;
}

main h2 {
  
  font-family: "Open Sans", sans-serif;
  padding: 5px;

}

main p {
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}

main section {
  background-color: rgb(226, 226, 226);
  margin: 0px 20px;
}

footer {
  padding: 30px 0px;
  background-color: #3575D3;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}


@media only screen and (max-width: 1000px) {
  nav ul li {
    display: none;
  }
  nav ul li:first-child {
    display: block;
    padding: 3px;
  }
  nav ul li:first-child a:hover {
    border: none;
  }
}